// Place all the styles related to the Churches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  margin-bottom: 10px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

h1 {
  width: 100%;
  padding: 0 0 10px;
  text-align: center;
}

#map-wrapper {
  float: left;
  margin: 0;
}

#map {
  height: 450px;
  width: 800px;
}

#directions-summary-wrapper {
  float: left;
  width: 350px;
  margin: 0 0 0 20px;
  border-bottom: 1px solid;
}

.segment {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  border: 1px solid;
  border-bottom: none;
  border-right: none;
}

.segment p {
  margin: 0 0 5px;
}

.segment p.heading {
  font-weight: bold;
}

.segment p.directions {
}
