// Place all the styles related to the Churches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  margin-bottom: 10px;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

#map {
  height: 360px;
  width: 640px;
}
