<h1>Churches</h1>
<!-- TODO: show selected churches as selections are maded -->
<%= form_tag(action: "get_directions") do %>
<table cellpadding=2 border=1>
    <tr>
        <th>Selection</th>
        <% @table_headings.each do |th| %>
        <th><%= th.capitalize %></th>
        <% end %>
    </tr>
    <%= render @churches %>
</table>
<%= submit_tag("Get Directions") %>
<% end %>
