[color]                                                                         
  ui = true                                                                     
[user]                                                                          
  name = Dan Dunckel                                                            
  email = dldunckel@gmail.com
[push]
  default = simple
[core]
  editor = vim
[credential]
  helper = cache
