[color]                                                                         
  ui = true                                                                     
[user]                                                                          
  name = Dan Dunckel                                                            
	email = dldunckel@gmail.com
